language: node_js

node_js:
  - 11.6.0

cache: npm

install:
  - npm install

script:
  - npm build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master
